<nav class="header">
  <div class="header-hero">
    <h1>Your all-in-one design solution under <span class="highlight">one subscription.</span></h1>
    <div class="testimonial">
        <img class="header-avatar" src="img/octav_cretu.png" alt="User">
        <p class="testimonial-text quote">“They absolutely crush all requests. 
Every design has been spot on!”</p>
        <p class="testimonial-text_short info">Octav Cretu, Managing Partner @ Nexus Media</p>
      </div>
    </div>
    <p>
      Artone is a design agency that offers world- class, unlimited design for a
      flat monthly price.
    </p>
  </div>
  <div class="header-hero action">
    <button class="btn btn-primary">See Plans</button>
    <button class="btn btn-secondary">2 spots left</button>
  </div>
  <div><img width="600" src="/img/example.png" alt="example"></div>
</nav>
