<section class="accordion">
  <details>
    <summary>Why not hire a full-time designer?</summary>
    <p>The annual cost of a full-time senior-level designer now exceeds $100,000, plus benefits (and good luck finding one available). Aside from that, you may not always have enough work to keep them busy at all times, so you're stuck paying for time you aren't able to utilize. With the monthly plan, you can pause and resume your subscription as often as you need to ensure you're only paying your designer when you have work available for them.</p>
  </details>

  <details>
    <summary>What is the average turnaround time?</summary>
    <p>On average, most requests are completed in just two days or less. However, more complex requests can take longer.</p>
  </details>

  <details>
    <summary>What does "unlimited" requests mean?</summary>
    <p>Once subscribed, you're able to add as many design requests to your queue as you'd like, and they will be delivered one by one.</p>
  </details>

  <details>
    <summary>How does the pause feature work?</summary>
    <p>We understand you might not have enough design work to fill up an entire month. Perhaps you only have one or two requests at the moment. That's where pausing your subscription comes in handy. Billing cycles are based on a 31 day period. Let's say you sign up and use the service for 21 days, and then decide to pause your subscription. This means that the billing cycle will be paused and you'll have 10 days of service remaining to be used anytime in the future.</p>
  </details>

  <details>
    <summary>In what tools will the designs be created?</summary>
    <p>Most requests are designed using Figma.</p>
  </details>

  <details>
    <summary>Is it possible to request a refund?</summary>
    <p>Due to the high quality nature of the work, there will be no refunds issued.</p>
  </details>
</section>