<section class="info-block">
  <div class="info-block__card">
    <p>
      Ever wondered how some startups capture all the spotlight while others are
      left behind? We’ll let you in on a little secret - it’s all about design.
      That’s where we come in.
    </p>
    <p>
      We help founders like you build innovative digital products that have high
      conversion rates, retain customers and attract investors.
    </p>
    <p>
      Do you want your product to be the next big thing in the digital world?
    </p>
    <span class="highlight">Welcome to Artone.</span>
  </div>
</section>
