<nav class="header">
  <div class="header-hero">

      <h1 class="hero-title">
        Your all-in-one<br>
        design solution under<br>
        <span class="highlight">one subscription.</span>
      </h1>

      <div class="testimonial ">
        <img class="header-avatar" src="img/octav_cretu.png" alt="User" />
        <div class="testimonial-content">
            <p class="quote">“They absolutely crush all requests.<br>
              Every design has been spot on!”</p>
            <p class="author">Octav Cretu, Managing Partner @ Nexus Media</p>
        </div>
      </div>

      <img class="img-example" width="600" src="img/example.png" alt="example" />

  </div>
</nav>
