.header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-top: 85px;
  margin-left: 55px;
}

.header-hero {
  background: #000;
  display: grid;
  max-width: 1440px;
  margin: 20px auto;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 60px;
}

.hero-title {
  grid-column: 1 / 3;
  grid-row: 1;
  font-family: "Inter", sans-serif;
  color: white;
}

.hero-title .highlight {
  color: rgb(255, 238, 0);
}

.testimonial {
  grid-column: 1 / 2;
  grid-row: 2;
}

.img-example {
  grid-column: 1 / 3;
  grid-row: 3;
   width: 100%;
  justify-self: center;
}

.testimonial {
  margin-left: 55px;
  display: flex;
  .testimonial-content {
    font-family: "Inter", sans-serif;
    color: white;

    .quote {
      margin: 0 0 6px 0;
      font-size: 16px;
      line-height: 1.4;
    }

    .author {
      font-size: 14px;
      opacity: 0.7;
      margin: 0;
    }
  }
}
